.header_wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: var(--header-height);
	position: sticky;
	top: 0;
	color: white;
	box-shadow: none;
	transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
	user-select: none;
	z-index: 100;

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 1024px;
		width: 100%;
		margin: auto;
		padding: 0 24px;
		gap: 20px;

		.header_nav_first {
			display: flex;
			justify-content: center;
			align-items: center;

			.logo {
				display: flex;
			}
		}

		.header_nav_second,
		.header_nav_third {
			a {
				color: #fff;
				opacity: 0.6;
				transition: opacity 0.2s ease;
				font-size: 14px;
				padding: 8px 12px;

				&:hover {
					opacity: 1;
					color: #ededed;
				}
			}
		}

		.header_nav_second {
			flex: 1 1;
			display: flex;
			justify-content: center;
			align-items: center;

			.navigation_menu {
				display: flex;
				gap: 8px;
			}
		}

		.header_nav_third {
			flex: 1 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.signup {
				display: flex;
				align-items: center;
				gap: 4px;

				img {
					margin-top: 1px;
					transform: rotate(180deg);
				}
			}

			.user {
				display: flex;
				flex-direction: column;
				gap: 4px;
				opacity: 1;
				color: #ededed;

				&:hover {
					background-color: transparent;
				}

				span {
					font-weight: 500;
				}

				.user_email {
					opacity: 0.4;
					font-weight: 300;
				}
			}
		}
	}
}

.scrolled {
	box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
	transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
	background-color: #0a0a0a;
}

@media screen and (max-width: 768px) {
	.header_nav_second,
	.signin,
	.signup {
		display: none !important;
	}
}
