.header_wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 64px;
	position: sticky;
	top: 0;
	background-color: rgb(0 0 0 / 50%);
	color: white;
	backdrop-filter: blur(5px);
	box-shadow: none;
	transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
	user-select: none;

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 1024px;
		width: 100%;
		margin: auto;
		padding: 0 16px;
		gap: 20px;

		.logo {
			height: 32px;
		}

		.header_nav_first {
			flex: 1 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.header_nav_second {
			flex: 1 1;
			display: flex;
			justify-content: center;
			align-items: center;

			.navigation_menu {
				display: flex;
				gap: 8px;

				a {
					color: #a0a0a0;
					font-size: 14px;
					padding: 8px 12px;
					transition-property: background, color;
					transition-duration: 0.2s;
					transition-timing-function: ease;

					&:hover {
						color: #ededed;
					}
				}
			}
		}

		.header_nav_third {
			flex: 1 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.scrolled {
	box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
	transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
}
