.profile {
	background-color: var(--background-primary);

	.profile_content {
		display: flex;
		gap: 24px;
		max-width: (var(--page-width));
		min-height: calc(100vh - var(--header-height));
		margin: auto;
		padding: 20px;
		color: var(--color-primary);

		.landing {
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 100%;

			.user_details {
				display: flex;
				align-items: center;
				gap: 24px;
				background-color: var(--background-primary);
				padding: 32px 40px;

				.api_limit {
					display: flex;
					flex-direction: column;
					gap: 24px;

					a {
						text-decoration: underline;
						color: var(--accent);
						padding: 12px;
						border-radius: 6px;
						width: fit-content;
					}
				}

				img {
					border-radius: 50%;
				}

				.user_info {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					height: fit-content;
					width: 100%;

					h1 {
						font-size: 24px;
					}

					.description {
						margin-top: 4px;
						font-size: 14px;
						color: var(--color-secondary);
					}

					.user_info_rows {
						display: flex;
						align-items: center;
						gap: 8px;
						margin: 12px 0;

						svg {
							color: var(--color-secondary);
						}

						.row {
							display: flex;
							align-items: center;
							gap: 8px;
						}
					}

					.github_link {
						display: flex;
						color: var(--accent);
						gap: 4px;
					}
				}
			}
		}
	}
}
