.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 256px;
	max-width: 256px;
	height: fit-content;
	padding: 20px;
	overflow-y: auto;
	position: sticky;
	top: calc(var(--header-height) + 20px);

	.link,
	.active_link {
		display: flex;
		align-items: center;
		gap: 16px;
		height: 42px;
		font-size: 14px;
		color: var(--color-secondary);
		font-weight: 500;
		padding: 8px 0 8px 16px;
		border: 1px solid transparent;
		border-radius: 6px;
		transition: color 0.2s ease;

		&:hover {
			color: var(--color-primary);
			background: var(--background-secondary);
		}
	}

	.active_link {
		color: var(--color-primary);
		background-color: var(--background-secondary);
		border: 1px solid var(--border-color);
	}
}
