.faq {
	padding: 20px 0;
	border-bottom: 1px solid var(--border-color);
	transition: border-color 0.3s ease;

	&:hover {
		border-color: var(--border-color-hover);
	}

	button {
		display: flex;
		align-items: center;
		background-color: transparent;
		height: fit-content;
		font-size: 20px;

		h3 {
			font-size: 16px;
			font-weight: 400;
			text-align: left;
		}

		.arrow,
		.arrow_rotate {
			margin-right: 8px;
			transition: all 0.3s ease;
		}

		.arrow_rotate {
			transform: rotate(-90deg);
			filter: brightness(2.5);
		}
	}

	.faq_content {
		padding-left: 20px;
		max-width: 720px;

		p {
			font-size: 14px;
			margin-top: 10px;
			line-height: 1.4;
			color: var(--color-secondary);
		}
	}
}

@media screen and (max-width: 425px) {
	.simbol {
		display: none !important;
	}
}
