.slug {
	display: flex;
	margin-top: 20px;

	.sidebar {
		position: sticky;
		top: var(--header-height);
		width: 200px;
		height: calc(100vh - var(--header-height));
		padding: 0 20px 20px 0;
		display: flex;
		flex-direction: column;
		gap: 20px;

		a {
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			opacity: 0.6;
			transition: opacity 0.2s ease;

			&:hover {
				opacity: 1;
			}
		}

		.links {
			display: flex;
			flex-direction: column;
			margin: 10px 0 0px 4px;
			padding: 10px 0 0 15px;
			border-left: 1px solid #333;

			a {
				font-size: 14px;
				margin: 11px 0;
				color: #fff;
				opacity: 0.6;
				transition: opacity 0.2s ease;
				width: fit-content;

				&:hover {
					opacity: 1;
				}

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 10px;
				}
			}
		}
	}
}
