.popup_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px) contrast(0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;

	.popup {
		width: 100%;
		background-color: var(--background-secondary);
		border-radius: 10px;
		max-width: 500px;
		z-index: 10;
		cursor: default;

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 32px 32px 16px 32px;
			border-bottom: 1px solid var(--border-color);

			.close {
				height: fit-content;
				display: flex;
				background: none;
				border: none;
				color: var(--color-primary);
				cursor: pointer;
			}
		}

		.content {
			padding: 32px;
			color: var(--color-primary);
		}
	}
}
