.popup_opener_button {
	background-color: transparent;
	height: fit-content;
	max-width: 220px;
	width: inherit;

	#blank_button {
		background-color: var(--background-secondary);
		border: 1px solid var(--border-color);
		border-radius: 6px;
		padding: 12px 16px;
		display: flex;
		align-items: center;
		gap: 4px;
		color: var(--color-primary);
	}
}

.popup_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px) contrast(0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;

	.popup {
		width: 100%;
		background-color: var(--background-secondary);
		border-radius: 10px;
		max-width: 500px;
		z-index: 10;
		cursor: default;

		h2 {
			margin: 0 !important;
		}

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 32px 32px 16px 32px;
			border: 1px solid var(--border-color);
			border-radius: 10px 10px 0 0;

			.close {
				height: fit-content;
				display: flex;
				background: none;
				border: none;
				color: var(--color-primary);
				cursor: pointer;
			}
		}

		.content {
			padding: 32px;
			color: var(--color-primary);
			border: 1px solid var(--border-color);
			border-radius: 0 0 10px 10px;
			border-top: 0;

			#blank_content {
				margin: 0;
				color: var(--color-secondary);
				font-style: italic;
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.popup_overlay {
		.popup {
			margin: 0 24px;

			.title {
				padding: 24px 24px 16px 24px;
			}

			.content {
				padding: 24px;
			}
		}
	}
}
