.repositories {
	background-color: var(--background-primary);

	.repositories_content {
		display: flex;
		gap: 24px;
		max-width: (var(--page-width));
		min-height: calc(100vh - var(--header-height));
		margin: auto;
		padding: 20px;
		color: var(--color-primary);

		.repositories_list {
			width: 100%;

			.search_bar {
				padding: 16px 0;
				input {
					width: 100%;
				}
			}

			.repository_not_found,
			.loading {
				padding: 24px 0;
			}

			.repository {
				padding: 24px 0;
				display: flex;
				flex-direction: column;
				gap: 12px;
				border-bottom: 1px solid var(--border-color);
				font-size: 12px;
				color: var(--color-secondary);

				&:nth-child(2) {
					border-top: 1px solid var(--border-color);
				}

				&:last-child {
					margin-bottom: 40px;
				}

				.title {
					display: flex;
					align-items: center;
					gap: 20px;

					a {
						color: var(--accent);
						font-size: 20px;
						font-weight: 600;
					}

					span {
						display: flex;
						align-items: center;
						border: 1px solid var(--border-color);
						padding: 0 8px;
						height: 20px;
						border-radius: 10px;
						text-transform: capitalize;
						font-size: 12px;
						color: var(--color-secondary);
					}
				}

				.repo_info {
					display: flex;
					gap: 12px;
				}
			}
		}
	}
}
