.footer {
	padding: 36px 24px 24px;
	box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);

	nav {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		max-width: 1024px;
		margin: auto;

		.footer_group {
			display: flex;
			flex-direction: column;
			margin-right: 24px;

			h2 {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 12px;
			}

			.footer_list {
				display: flex;
				flex-direction: column;

				a {
					opacity: 0.6;
					transition: opacity 0.2s ease;
					font-size: 14px;
					padding: 8px 0;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.footer_wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		max-width: 1024px;
		margin: auto;
		padding: 24px 0 0;

		#mobile_logo {
			display: none;
		}

		span {
			font-size: 14px;
			opacity: 0.6;
		}

		.social {
			display: flex;
			height: 19px;
			gap: 10px;

			img {
				opacity: 0.6;
			}

			hr {
				border-color: #333;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.footer {
		nav {
			flex-direction: column;

			.footer_group {
				margin: 0;
				border-bottom: 1px solid #333;

				&:first-child {
					display: none !important;
					h2 {
						margin-top: 0px;
					}
				}

				&:nth-child(2) {
					h2 {
						margin-top: 0;
					}
				}

				h2 {
					margin-top: 12px;
				}

				.footer_list {
					padding: 0 0 12px 12px;

					a {
						width: fit-content;
					}
				}
			}
		}

		.footer_wrapper {
			flex-direction: column;
			align-items: center;
			gap: 20px;
			text-align: center;

			#mobile_logo {
				display: block;
			}
		}
	}
}
