.burger_menu__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	height: 20px;
	margin: 0;
	cursor: pointer;
	display: none;
}

.content {
	display: none;
	flex-direction: column;
	position: absolute;
	top: var(--header-height);
	left: 0;
	height: calc(100vh - var(--header-height));
	width: 100vw;
	background: var(--background);
	margin: auto;
	padding: 0 24px 24px;

	.burger_link {
		padding: 10px 0px;
		border-bottom: 1px solid var(--border-color);
		font-size: 14px;
	}

	.signin {
		font-size: 14px;
		padding: 10px 0px;
		background: var(--color-primary);
		margin-top: 20px;
		border-radius: 6px;
		color: #000;
		display: flex;
		font-weight: 500;
		align-items: center;
		justify-content: center;
	}

	.user {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 10px 0;
		border-bottom: 1px solid var(--border-color);
		font-size: 14px;

		&:hover {
			background-color: transparent;
		}

		img {
			border-radius: 50%;
		}
	}
}

.close_content {
	display: none;
}

.disabled_scrolling {
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.burger_menu__button {
		display: flex;
	}

	.content {
		display: flex;
	}
}
