.burger_menu__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	height: 20px;
	margin: 0;
	cursor: pointer;
	display: none;
}

.content {
	display: none;
	flex-direction: column;
	position: absolute;
	top: var(--header-height);
	left: 0;
	height: calc(100vh - var(--header-height));
	width: 100vw;
	background: black;
	margin: auto;
	padding: 0 24px 24px;

	a {
		padding: 10px 0px !important;
		border-bottom: 1px solid var(--border-color);
	}
}

.close_content {
	display: none;
}

.signin {
	font-size: 16px !important;
	padding: 10px 0px !important;
	background: var(--color-primary);
	margin-top: 20px;
	border-radius: 6px;
	color: #000 !important;
	display: flex;
	font-weight: 500;
	align-items: center;
	justify-content: center;
}

.disabled_scrolling {
	overflow: hidden;
}

.user {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 10px 0 !important;
	border-bottom: 1px solid #333;
	font-size: 16px !important;

	&:hover {
		background-color: transparent;
	}

	img {
		border-radius: 50%;
	}
}

@media screen and (max-width: 768px) {
	.burger_menu__button {
		display: flex;
	}

	.content {
		display: flex !important;
	}
}
