.buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;

	#github,
	#gitlab {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		position: relative;
		color: var(--color-primary);

		&:hover {
			svg {
				opacity: 1;
				right: 24px;
			}
		}

		.button_content {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		svg {
			position: absolute;
			right: 36px;
			opacity: 0;
			transition: all 0.3s ease;
		}
	}

	#github {
		background-color: var(--github-color);
	}

	#gitlab {
		background-color: var(--gitlab-color);
	}
}
