:root {
	--background: black;
	--color: black;
	--header-background: #222;
	--header-color: black;
	--header-height: 72px;
	--border-radius: 6px;
	--github-color: #24292e;
	--gitlab-color: #6b4fbb;
	--logo-filter: invert(1);
	--font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
}

[data-theme='dark'] {
	--background: #121212;
	--color: white;
	--header-color: white;
	--logo-filter: invert(0);
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	font-family: var(--font-family);
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	color: var(--color);
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button,
select,
option {
	font-family: var(--font-family);
}

input[type='checkbox'] {
	margin: 0 !important;
	cursor: pointer;
}

.main {
	padding: 0 32px;
	min-height: calc(100vh - var(--header-height));
}
