.page_content {
	min-height: calc(100vh - var(--header-height));

	.masthead {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		text-align: center;
		max-width: 670px;
		margin: auto;
		margin-top: 200px;
		color: var(--color-primary);

		span {
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.3em;
			text-transform: uppercase;
			-webkit-text-fill-color: transparent;
			color: unset;
			background: linear-gradient(
				92.88deg,
				rgb(69, 94, 181) 9.16%,
				rgb(86, 67, 204) 43.89%,
				rgb(103, 63, 215) 64.72%
			);
			background-clip: text;
		}

		h1 {
			font-size: 36px;
			line-height: 1.3;
		}

		p {
			font-size: 18px;
			line-height: 1.6;
			color: #d0d6e0;
		}
	}
}
