.form {
	display: flex;
	height: calc(100vh - var(--header-height));
	align-items: center;

	.with_email {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		height: 520px;
		background: #0a0a0a;
		padding: 32px 40px;
		border-radius: 10px 0 0 10px;

		h1 {
			text-align: center;
			margin-bottom: 20px;
			margin: 0;
		}

		label {
			display: flex;
			flex-direction: column;
			gap: 10px;

			a {
				font-size: 14px;
				text-decoration: underline;
				color: #3291ff;
			}
		}

		span {
			font-size: 14px;
			color: #888;

			a {
				text-decoration: underline;
				color: #3291ff;
			}
		}

		button {
			color: white;
			background-color: #3f51b5;
			margin: 0;
		}
	}

	.with_options {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 520px;
		padding: 32px 40px;
		background: #0c0c0c;
		border-left: 1px solid #1a1a1a;
		border-radius: 0 10px 10px 0;
		justify-content: space-between;

		.qr_code {
			display: flex;
			flex-direction: column;
			gap: 20px;

			img {
				border-radius: 6px;
				margin: 0 auto;
			}

			h1 {
				text-align: center;
				font-size: 26px;
				margin: 0;
			}

			p {
				color: #aaa;
				text-align: center;

				span {
					color: #ededed;
				}
			}
		}

		.github_btn,
		.gitlab_btn {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			color: white;
			margin-top: 0;

			&:disabled {
				color: rgb(255 255 255 / 30%);
			}
		}

		.github_btn {
			background-color: var(--github-color);
		}

		.gitlab_btn {
			background-color: var(--gitlab-color);
		}
	}
}

@media screen and (max-width: 768px) {
	.form {
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;

		.with_email {
			border-radius: 10px 10px 0 0;
			padding: 32px 24px;
			height: auto;
			gap: 24px;
		}

		.with_options {
			border-radius: 0 0 10px 10px;
			border-left: 0;
			height: fit-content;
			padding: 32px 24px;

			.qr_code {
				display: none;
			}

			.github_btn {
				margin-top: 0;
			}
		}
	}
}
