.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 320px;
	margin: auto;
	height: calc(100vh - var(--header-height));

	h1 {
		text-align: center;
		margin-bottom: 20px;
	}

	label {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 10px;
	}

	a {
		text-align: center;
		margin-top: 24px;
		font-size: 15px;
		text-decoration: underline;
		color: #3291ff;
	}
}
