.friends {
	background-color: var(--background-primary);

	.friends_content {
		display: flex;
		gap: 24px;
		max-width: (var(--page-width));
		min-height: calc(100vh - var(--header-height));
		margin: auto;
		padding: 20px;
		color: var(--color-primary);

		.friends_list {
			width: 100%;
			display: flex;
			flex-direction: column;

			.friends_find {
				display: flex;
				gap: 24px;

				input {
					width: 100%;
				}

				button {
					width: 100%;
					max-width: 150px;
					background-color: var(--background-primary);
					border: 1px solid var(--border-color);
					padding: 0 12px;
				}
			}

			.user_not_found,
			.loading {
				padding: 24px 0;
			}

			.friend {
				display: flex;
				padding: 24px 0;
				border-bottom: 1px solid var(--border-color);

				&:last-child {
					border-bottom: none;
				}

				a {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 24px;

					img {
						border-radius: 50%;
					}

					.friend_info {
						display: flex;
						flex-direction: column;
						gap: 12px;
						color: var(--color-secondary);

						.login {
							color: var(--color-primary);
							font-size: 18px;
						}

						.location {
							display: flex;
							align-items: center;
							gap: 8px;
						}
					}
				}
			}
		}
	}
}
