.stub {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 12px 16px;
	background-color: var(--attention-background);
	border: 1px solid var(--attention-border);
	border-radius: 10px;

	img {
		user-select: none;
	}

	p {
		color: var(--attention) !important;
		text-align: left !important;
	}
}
