.details {
	img {
		width: 100%;
		height: fit-content;
		max-height: 376px;
		border-radius: 10px;
		user-select: none;
	}

	h1 {
		margin-top: 48px;
		font-size: 32px;
		font-weight: 600;
	}

	h2 {
		font-size: 24px;
		font-weight: 600;
		margin-top: 32px;
	}

	h3 {
		margin-top: 24px;
	}

	p {
		line-height: 1.6;
		margin: 16px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
