.page_content {
	margin-top: 120px;
	min-height: calc(100vh - var(--header-height));

	.masthead {
		display: flex;
		justify-content: flex-end;
		gap: 24px;

		.masthead_content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			margin: 0;
			padding: 56px 0;
			max-width: 720px;
			width: 100%;
			text-align: left;

			.title {
				font-size: 52px;
				font-weight: 600;
				background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.subtitle {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-left: 2px;
				color: var(--color-secondary);
				font-size: 18px;

				.links {
					display: flex;
					flex-direction: row;
					gap: 10px;
					width: 100%;
					flex-wrap: wrap;
					font-size: 16px;

					a {
						display: flex;
						align-items: flex-start;
						gap: 4px;
						background-color: var(--accent-background);
						color: var(--accent);
						padding: 6px 8px;
						border-radius: 6px;
					}
				}
			}
		}
	}

	.changelog {
		background-color: var(--background-primary);
		border-top: 1px solid var(--border-color);

		.changelog_content {
			display: flex;
			gap: 24px;
			padding: 72px 24px;
			max-width: var(--page-width);
			margin: auto;

			.date {
				position: sticky;
				top: 90px;
				width: 100%;
				max-width: 232px;
				height: fit-content;
				display: flex;
				flex-direction: column;
				gap: 4px;

				p {
					font-size: 14px;
					color: var(--color-secondary);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.details {
				img {
					width: 100%;
					height: auto;
					max-height: 376px;
					border-radius: 10px;
					user-select: none;
				}

				h2 {
					font-size: 24px;
					font-weight: 600;
					margin-top: 48px;
					color: var(--color-primary);
				}

				p {
					line-height: 1.6;
					margin: 16px 0;
					color: var(--color-primary);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.page_content {
		.masthead {
			margin-left: 0;
			align-items: center;
			text-align: center;

			.masthead_content {
				.title {
					font-size: 32px;
				}

				.subtitle {
					font-size: 16px;
				}
			}
		}

		.changelog {
			.changelog_content {
				flex-direction: column;
				padding-top: 36px;

				.date {
					position: static;
					flex-direction: row;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.page_content {
		.masthead {
			.masthead_content {
				.content {
					div {
						flex-direction: column;
					}
				}
			}
		}
	}
}
