.footer {
	padding: 36px 24px 24px;
	border-top: 1px solid var(--border-color);
	background-color: var(--background-primary);
	user-select: none;

	.footer_wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--page-width);
		margin: auto;
		flex-direction: column;
		gap: 12px;

		.logo {
			font-size: 32px;
			font-weight: 600;
		}

		span {
			font-size: 14px;
			color: var(--color-secondary);
			user-select: text;
		}
	}
}
