.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - var(--header-height));

	.signup {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 490px;
		width: 100%;
		height: 580px;
		margin: auto;
		padding: 32px 40px;
		border-radius: 10px;
		background-color: #0a0a0a;

		h1 {
			text-align: center;
		}

		label {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		button {
			color: white;
			background-color: #3f51b5;
			margin: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.form {
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}
}
