.slug {
	display: flex;
	margin-top: 20px;

	.page_content {
		border-radius: 0 10px 0 0;
		max-width: 840px;
		width: 100%;
		padding: 32px 40px;
		background-color: var(--background-primary);

		h1 {
			font-size: 40px;
			margin: 32px 0;
			color: var(--color-primary);
		}

		p {
			line-height: 1.6;
			margin: 16px 0;
			color: var(--color-primary);
		}

		a {
			color: var(--primary-link);

			&:focus-visible {
				outline: 2px solid var(--primary-link);
			}
		}

		pre {
			background-color: #1e1e1e;
			padding: 20px;
			margin-bottom: 16px;
			border-radius: 6px;
			white-space: pre;
			overflow: auto;

			span {
				font-size: 16px;
			}
		}

		.time_info {
			display: flex;
			justify-content: space-between;
			color: var(--color-secondary);

			span {
				font-size: 14px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.page_content {
			padding: 24px;
			border-radius: 10px 10px 0 0;
		}
	}
}
