.docs {
	background-color: var(--background-primary);
	border-top: 1px solid var(--border-color);

	.slug {
		display: flex;

		// burgerMenu
		.breadcrumb {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 16px 0;
			width: 100%;
			text-align: left;
			border-bottom: 1px solid var(--border-color);
			font-size: 14px;
			color: var(--accent);
		}

		.burgerMenu_category {
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;

			.burgerMenu_category_title {
				padding: 8px 0 8px 16px;
				margin-bottom: 10px;
				font-size: 14px;
			}

			.burgerMenu_links {
				display: flex;
				flex-direction: column;

				a {
					display: flex;
					align-items: center;
					font-size: 14px;
					color: var(--color-secondary);
					font-weight: 500;
					padding: 8px 0 8px 16px;
					border: 1px solid transparent;
					border-radius: 6px;
					transition: color 0.2s ease;

					&::before {
						content: 'icon';
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 11px;
						max-width: 24px;
						width: 100%;
						height: 24px;
						color: var(--color-secondary);
						margin-right: 16px;
						transition: color 0.2s ease;
					}

					&:hover {
						color: var(--color-primary);

						&::before {
							color: var(--color-primary);
						}
					}
				}

				.select {
					color: var(--color-primary);
					background-color: var(--background-secondary);
					border: 1px solid var(--border-color);
				}
			}
		}

		.page_content {
			max-width: 840px;
			width: 100%;
			padding: 32px 40px;
			background-color: var(--background-primary);

			h1 {
				font-size: 40px;
				margin: 32px 0;
				color: var(--color-primary);
			}

			p {
				line-height: 1.6;
				margin: 16px 0;
				color: var(--color-primary);
			}

			a {
				color: var(--accent);

				&:focus-visible {
					outline: 2px solid var(--accent);
					background-color: var(--accent-background);
				}
			}

			pre {
				background-color: #1e1e1e;
				padding: 20px;
				margin-bottom: 16px;
				border-radius: 6px;
				white-space: pre;
				overflow: auto;

				span {
					font-size: 16px;
				}
			}

			.time_info {
				display: flex;
				justify-content: space-between;
				color: var(--color-secondary);

				span {
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.docs {
		.slug {
			flex-direction: column;
			.page_content {
				padding: 24px 0;
				border-radius: 10px 10px 0 0;
			}
		}
	}
}
