.docs {
	background-color: var(--background-primary);
	border-top: 1px solid var(--border-color);
	min-height: calc(100vh - var(--header-height));

	// burgerMenu

	.breadcrumb {
		display: none;
		align-items: center;
		background-color: var(--background-primary);
		width: 100%;
		box-shadow: 1px 1px 12px var(--background-primary);
		border-bottom: 1px solid var(--border-color);
		position: sticky;
		top: var(--header-height);
		height: 64px;
		z-index: 9;

		.breadcrumb_content {
			display: flex;
			align-items: center;
			gap: 10px;
			text-align: left;
			padding: 16px 24px;
			font-size: 14px;
			color: var(--accent);
			outline: none;
			width: 100%;
		}

		.burgerMenu_category {
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;

			.burgerMenu_category_title {
				padding: 8px 0 8px 16px;
				margin-bottom: 10px;
				font-size: 14px;
			}

			.burgerMenu_links {
				display: flex;
				flex-direction: column;

				a {
					display: flex;
					align-items: center;
					font-size: 14px;
					color: var(--color-secondary);
					font-weight: 500;
					padding: 8px 0 8px 16px;
					border: 1px solid transparent;
					border-radius: 6px;
					transition: color 0.2s ease;

					&::before {
						content: 'icon';
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 11px;
						max-width: 24px;
						width: 100%;
						height: 24px;
						color: var(--color-secondary);
						margin-right: 16px;
						transition: color 0.2s ease;
					}

					&:hover,
					&:focus-visible {
						color: var(--color-primary);

						&::before {
							color: var(--color-primary);
						}
					}

					&:focus-visible {
						outline: 1px solid var(--border-color);
					}
				}

				.select {
					color: var(--color-primary);
					background-color: var(--background-secondary);
					border: 1px solid var(--border-color);
				}
			}
		}
	}

	.slug {
		display: flex;

		.page_content {
			max-width: 840px;
			width: 100%;
			padding: 32px 40px;
			background-color: var(--background-primary);
			color: var(--color-primary);

			h1 {
				font-size: 40px;
				margin: 32px 0;
			}

			h2 {
				margin: 42px 0 10px;
			}

			p {
				line-height: 1.6;
				margin: 16px 0;
				color: inherit;
			}

			a {
				color: var(--accent);

				&:focus-visible {
					outline: 2px solid var(--accent);
					background-color: var(--accent-background);
				}
			}

			li {
				list-style: auto;
			}

			pre {
				background-color: var(--background-secondary) !important;
				border: 1px solid var(--border-color) !important;
				padding: 20px;
				margin-bottom: 16px;
				border-radius: 6px;
				white-space: pre;
				overflow: auto;
				max-width: 640px;
				overflow: auto;

				&::-webkit-scrollbar {
					height: 6px;
					background-color: var(--background-secondary);
				}

				&::-webkit-scrollbar-thumb {
					background: var(--border-color-hover);
					border-radius: 4px;

					&:hover {
						background: var(--border-color-hover);
					}

					&:active {
						background: var(--border-color-active);
					}
				}

				code {
					background-color: transparent !important;
				}

				span {
					font-size: 16px;
				}
			}

			.time_info {
				display: flex;
				justify-content: space-between;
				color: var(--color-secondary);

				span {
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.docs {
		.breadcrumb {
			display: flex;
		}

		.slug {
			flex-direction: column;
			.page_content {
				padding: 24px 0;
				border-radius: 10px 10px 0 0;
			}
		}
	}
}
