.error_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - var(--header-height));

	h1 {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
	}

	a {
		text-decoration: underline;
	}
}
