.spinner_container {
	display: flex;
	justify-content: center;
	align-items: center;

	.spinner {
		border: 3px solid rgba(0, 0, 0, 0.1);
		border-top-color: rgb(255 255 255 / 60%);
		border-radius: 50%;
		animation: spin 1s ease-in-out infinite;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
