.masthead {
	background-color: #404eed;
	position: relative;
	z-index: 1;

	.masthead_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding: 128px 24px;
		color: var(--color-primary);
		text-align: center;
		max-width: 800px;
		margin: auto;

		h1 {
			font-size: 52px;
			text-align: center;
		}

		p {
			font-size: 20px;
			max-width: 725px;
			line-height: 1.6;
		}

		.masthead_buttons {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 24px;
			width: 100%;
	
			.button {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				background-color: var(--background-primary);
				border: 1px solid var(--border-color);
				width: 100%;
				max-width: 220px;
				padding: 8px 16px;
				border-radius: 20px;
				transition: all 0.3s ease;
				user-select: none;
				color: var(--color-primary);
			}

			.option {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				width: 100%;
				max-width: 220px;
				padding: 8px 16px;
				transition: all 0.3s ease;
				user-select: none;
				border-radius: 0;
				transition: all 0.3s ease;
				border-bottom: 1px solid var(--border-color-lighter);
				font-size: 16px;

				&:hover {
					background-color: var(--background-secondary-hover);
				}
			}
		}

		.background_image {
			position: absolute;
			max-width: 100%;
			width: auto;
			height: auto;
			z-index: -1;
			bottom: 0;
		}
	}
}

.container_primary,
.container_secondary {
	padding: 60px 24px;

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--page-width);
		margin: auto;
		min-height: 440px;

		.illustration {
			max-width: 500px;
			width: -webkit-fill-available;
			height: auto;
			user-select: none;
		}

		.description {
			max-width: 420px;
			h2 {
				font-size: 48px;
			}

			p {
				font-size: 20px;
				margin-top: 24px;
				line-height: 1.6;
			}
		}
	}
}

.container_primary {
	background-color: var(--background-primary);
	border-bottom: 1px solid var(--border-color);
	border-top: 1px solid var(--border-color);
}

.container_secondary {
	background-color: var(--background-secondary);
}

.pre_footer {
	padding: 60px 24px;

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: var(--page-width);
		margin: auto;
		min-height: 440px;

		.description {
			max-width: 980px;
			h2 {
				font-size: 48px;
			}

			p {
				font-size: 20px;
				margin-top: 24px;
				line-height: 1.6;
			}
		}

		.illustration {
			width: -webkit-fill-available;
			height: auto;
			user-select: none;
		}

		.buttons {
			display: flex;
			gap: 24px;

			#back_to_top_btn,
			#get_started_btn {
				display: flex;
				align-items: center;
				gap: 8px;
				padding: 0px 16px;
				border-radius: 20px;
				color: var(--color-primary);
				user-select: none;
				width: 100%;
			}

			#back_to_top_btn {
				background-color: var(--background-primary);
				border: 1px solid var(--border-color);
				width: auto;
				transition: all 0.3s ease;

				svg {
					color: var(--accent);
				}

				&:hover {
					background-color: var(--background-secondary);
					border-color: var(--border-color-hover);
				}
			}

			#get_started_btn {
				background: linear-gradient(to right, #455eb5, #673fd7);
				transition: all 0.3s ease;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.masthead {
		.masthead_content {
			max-width: 600px;
			gap: 12px;

			h1 {
				font-size: 32px;
			}

			p {
				font-size: 16px;
			}

			.masthead_buttons {
				gap: 12px;
			}
		}
	}

	.container_primary,
	.container_secondary {
		.content {
			align-items: normal;
			min-height: auto;
			justify-content: normal;

			.illustration {
				max-width: none;
			}

			.description {
				max-width: none;
				margin-top: 20px;

				h2 {
					font-size: 28px;
				}

				p {
					font-size: 16px;
					margin-top: 12px;
				}
			}
		}
	}

	.container_primary {
		.content {
			flex-direction: column;
		}
	}

	.container_secondary {
		.content {
			flex-direction: column-reverse;
		}
	}

	.pre_footer {
		.content {
			.description {
				max-width: none;

				h2 {
					font-size: 28px;
				}

				p {
					font-size: 16px;
					margin-top: 12px;
				}
			}
		}
	}
}
