.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 128px 0 0;
	color: var(--color-primary);

	h1 {
		font-size: 56px;
		text-align: center;
	}

	.masthed_buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;

		#language_btn,
		#get_started_btn {
			display: flex;
			align-items: center;
			gap: 4px;
			padding: 0px 16px;
			border-radius: 12px;
			color: var(--color-primary);
			user-select: none;
		}

		#language_btn {
			background-color: transparent;

			svg {
				color: var(--accent);
			}
		}

		#get_started_btn {
			background: linear-gradient(to right, #455eb5, #673fd7);
		}
	}
}

.footer {
	display: flex;
	justify-content: center;

	img {
		max-width: 512px;
		width: -webkit-fill-available;
		height: max-content;
	}
}

.homepage {
	background-color: var(--background-primary);
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);

	.content {
		display: flex;
		flex-direction: column;
		gap: 72px;
		padding: 72px 24px;
		max-width: var(--page-width);
		margin: auto;

		h1 {
			font-size: 56px;
			color: var(--color-primary);
		}

		.foundation {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;

			.stack {
				display: flex;
				flex-direction: column;
				max-width: 475px;
				padding: 20px;
				border-radius: 12px;

				background-color: var(--background-secondary);
				border: 1px solid var(--border-color);
				transition: all 0.3s;

				&:hover {
					background-color: var(--background-secondary-hover);
				}

				img {
					user-select: none;
				}

				h2 {
					font-size: 20px;
					font-weight: 500;
					display: flex;
					align-items: flex-start;
					gap: 4px;
					color: var(--color-primary);
					margin-top: 24px;
				}

				p {
					font-size: 14px;
					margin-top: 8px;
					line-height: 1.6;
				}
			}
		}
	}
}

.support {
	border-bottom: 1px solid var(--border-color);

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		max-width: var(--page-width);
		margin: auto;
		padding: 72px 24px;

		h1 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			font-size: 56px;
			color: var(--color-primary);
			text-align: center;

			svg {
				animation-name: heartAnimation;
				animation-iteration-count: infinite;
				animation-duration: 2s;
				color: var(--warning);
			}

			@keyframes heartAnimation {
				0% {
					transform: scale(1);
				}

				50% {
					transform: scale(1.1);
				}

				100% {
					transform: scale(1);
				}
			}
		}

		p {
			text-align: center;
			font-size: 20px;
			color: var(--color-primary);
			line-height: 1.6;
		}

		button {
			display: flex;
			align-items: center;
			gap: 4px;
			background-color: var(--warning);
			border-radius: 20px;
			padding: 0 16px;
		}
	}
}

.community {
	background-image: linear-gradient(
			to right,
			var(--border-color) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, var(--border-color) 1px, transparent 1px);
	background-size: 40px 40px;
	background-position: center center;

	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 72px 24px;
		max-width: var(--page-width);
		margin: auto;

		h1 {
			font-size: 56px;
			color: var(--color-primary);
			text-align: center;
		}

		p {
			text-align: center;
			font-size: 20px;
			color: var(--color-primary);
			line-height: 1.6;
		}

		.links {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 20px;

			a {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				flex: 1 1;
				padding: 20px;
				width: 100%;
				border-radius: 10px;
				color: var(--color-primary);
				backdrop-filter: saturate(180%) blur(14px);
				background: var(--background-secondary);
				border: 1px solid var(--border-color);
				min-height: 140px;
				transition: all 0.3s ease;

				&:hover {
					background-color: var(--background-secondary-hover);
				}

				.label {
					display: flex;
					align-items: center;
					gap: 6px;

					h5 {
						font-size: 16px;
						font-weight: 600;
					}
				}

				p {
					text-align: left;
					font-size: 16px;
					line-height: 1.6;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.masthead {
		align-items: flex-start;
		padding: 120px 0;
		margin: 0;

		h1 {
			font-size: 32px;
			text-align: left;
			margin-bottom: 24px;
		}
	}

	.homepage {
		.content {
			h1 {
				font-size: 32px;
			}

			.foundation {
				.stack {
					max-width: none;
					width: 100%;
				}
			}
		}
	}

	.support {
		.content {
			align-items: flex-start;
			h1 {
				align-items: flex-start;
				font-size: 32px;
				text-align: left;
			}

			p {
				font-size: 16px;
				text-align: left;
			}
		}
	}

	.community {
		.content {
			h1 {
				font-size: 32px;
				text-align: left;
			}

			p {
				font-size: 16px;
				text-align: left;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.community {
		.content {
			.links {
				a {
					flex: auto;
				}
			}
		}
	}
}
