.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 780px;
	margin: auto;
	padding: 120px 40px;

	h1 {
		font-size: 56px;
		margin-bottom: 40px;
		text-align: center;
	}

	p {
		font-size: 20px;
		text-align: center;
	}
}

.footer {
	display: flex;

	.cosmonaut {
		margin: auto;
		width: 100%;
		height: auto;
		max-width: 512px;
		max-height: 512px;
	}
}

@media screen and (max-width: 768px) {
	.masthead {
		align-items: flex-start;
		padding: 120px 0;
		margin: 0;

		h1 {
			font-size: 36px;
			text-align: left;
			margin-bottom: 24px;
		}

		p {
			font-size: 16px;
			text-align: left;
		}
	}
}
