.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 780px;
	margin: auto;
	padding: 120px 40px;
	color: var(--color-primary);

	&::before {
		content: '';
		top: 0;
		left: 50%;
		position: absolute;
		filter: blur(45px);
		transform: translateZ(0);
		background: linear-gradient(
			to bottom right,
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0.3)
		);
		border-radius: 50%;
		width: 480px;
		height: 360px;
		margin-left: -400px;
	}

	h1 {
		font-size: 56px;
		margin-bottom: 40px;
		text-align: center;
		background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		font-size: 20px;
		text-align: center;
	}
}

.title {
	margin-top: 120px;
	margin-bottom: 48px;

	span {
		font-size: 18px;
		color: var(--color-secondary);
	}

	h1 {
		font-size: 52px;
		background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.features_grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 16px;
	position: relative;

	.columns {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;

		a {
			padding: 24px;
			background-color: var(--background-primary);
			border: 1px solid var(--border-color);
			border-radius: 10px;
			position: relative;
			transition-property: border-color, background;
			transition-duration: 0.15s;

			&:hover {
				border-color: var(--border-color-hover);
			}

			span {
				font-size: 20px;
				font-weight: 500;
			}

			p {
				font-size: 14px;
				margin-top: 10px;
				line-height: 1.4;
				color: var(--color-secondary);
			}
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 120px;

	h1 {
		text-align: center;
		font-size: 32px;
	}

	a {
		display: flex;
		align-items: center;
		padding: 8px 24px;
		color: var(--color-primary);
		background-color: var(--background-primary);
		border: 1px solid var(--border-color);
		border-radius: 26px;
		font-weight: 500;
		text-align: center;
		margin-top: 40px;
		transition: all 0.2s ease;

		&:hover {
			background-color: var(--background-secondary);
			border-color: var(--border-color-hover);
		}

		img {
			transform: rotate(180deg);
			margin-left: 4px;
			margin-top: 1px;
		}
	}

	.cosmonaut {
		margin: auto;
		width: 100%;
		height: auto;
		max-width: 512px;
		max-height: 512px;
	}
}

@media screen and (max-width: 768px) {
	.masthead {
		align-items: flex-start;
		padding: 120px 0;
		margin: 0;

		h1 {
			font-size: 36px;
			text-align: left;
			margin-bottom: 24px;
		}

		p {
			font-size: 16px;
			text-align: left;
		}
	}

	.title {
		margin-bottom: 32px;

		span {
			font-size: 16px;
		}

		h1 {
			font-size: 32px;
		}
	}

	.features_grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media screen and (max-width: 425px) {
	.features_grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
