.burger_menu__button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin: 0;
	cursor: pointer;
	display: none;
	height: auto;
	width: inherit;

	&:focus-visible {
		outline: 1px solid var(--border-color);
	}

	.burger_menu_icon {
		max-height: 24px;
	}
}

.content {
	display: none;
	flex-direction: column;
	position: absolute;
	top: var(--header-height);
	left: 0;
	height: calc(100vh - var(--header-height));
	width: 100vw;
	background: var(--background-primary);
	margin: auto;
	padding: 0 24px 24px;
	overflow: auto;
}

.close_content {
	display: none;
}

@media screen and (max-width: 768px) {
	.burger_menu__button {
		display: flex;
	}

	.content {
		display: flex;
		gap: 12px;
		padding-top: 12px;
	}
}
