.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 256px;
	max-width: 256px;
	max-height: calc(100vh - var(--header-height));
	padding: 20px;
	overflow-y: auto;
	user-select: none;
	position: sticky;
	top: var(--header-height);
	height: fit-content;

	&::-webkit-scrollbar {
		width: 6px;
		height: 4px;
		background-color: var(--background-secondary);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--border-color-hover);
		border-radius: 4px;

		&:hover {
			background: var(--border-color-hover);
		}

		&:active {
			background: var(--border-color-active);
		}
	}

	.category {
		margin-bottom: 32px;

		&:first-child {
			h4 {
				margin-top: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		h4 {
			padding: 8px 0 8px 16px;
			margin-bottom: 10px;
			font-size: 14px;
		}

		.activeLink {
			color: var(--color-primary);
			background-color: var(--background-secondary);
			border: 1px solid var(--border-color);

			&::before {
				color: var(--color-primary);
			}
		}

		a {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: var(--color-secondary);
			font-weight: 500;
			padding: 8px 0 8px 16px;
			border: 1px solid transparent;
			border-radius: 6px;
			transition: color 0.2s ease;

			&:hover,
			&:focus-visible {
				color: var(--color-primary);
				background: var(--background-secondary);

				&::before {
					color: var(--color-primary);
				}
			}

			&::before {
				content: 'icon';
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 11px;
				max-width: 24px;
				width: 100%;
				height: 24px;
				color: var(--color-secondary);
				margin-right: 16px;
				transition: color 0.2s ease;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.sidebar {
		display: none;
	}
}
