.dropdown {
	position: relative;
	z-index: 199;
	color: var(--color-primary);

	.dropdown_btn {
		display: flex;
		gap: 4px;
		align-items: center;
		background-color: transparent;
		height: fit-content;
		margin: 0;

		img {
			border-radius: 50%;
		}

		.arrow {
			transition: rotate 0.3s ease;
		}

		.arrow_open {
			transform: rotate(180deg);
		}
	}
}

.dropdown_open {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-top: 11px;
	right: 0;
	background-color: var(--background-secondary);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	width: 250px;
	box-shadow: 0 20px 40px 0 rgba(6, 6, 6, 0.3);
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.dropdown {
		display: none;
	}
}
