.dropdown {
	position: relative;
	color: var(--color-primary);
	max-width: 220px;
	width: inherit;
	height: fit-content;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:focus-visible {
		outline: none;
	}

	#blank_button {
		background-color: var(--background-secondary);
		border: 1px solid var(--border-color);
		border-radius: 6px;
		padding: 12px 16px;
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.dropdown_btn {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 4px;
		background-color: transparent;
		height: fit-content;
		margin: 0;
		width: 100%;

		img {
			border-radius: 50%;
		}
	}
}

.dropdown_open {
	display: flex;
	flex-direction: column;
	position: absolute;
	max-width: 250px;
	width: 100%;
	margin-top: 6px;
	right: 0;
	background-color: var(--background-secondary);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	font-size: 14px;
	overflow: hidden;
	z-index: 7;

	.empty {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 16px;
		border-bottom: 1px solid var(--border-color-lighter);
		transition: all 0.2s ease;

		&:hover {
			background-color: var(--background-secondary);
			border-color: var(--border-color);
		}

		&:first-child {
			border-radius: 10px 10px 0 0;
		}

		&:last-child {
			border-radius: 0 0 10px 10px;
			border-bottom: 0;
		}
	}

	.links {
		display: flex;
		flex-direction: column;

		div {
			background-color: transparent;
			border-radius: 0;
			padding: 12px 16px;
			width: 100%;
			border-bottom: 1px solid var(--border-color-lighter);
			text-align: inherit;

			&:hover {
				background-color: var(--background-secondary-hover);
			}
		}
	}
}
