.dropdown {
	position: relative;
	z-index: 199;
	color: var(--color-primary);

	.dropdown_btn {
		display: flex;
		gap: 4px;
		align-items: center;
		background-color: transparent;
		height: fit-content;
		margin: 0;

		img {
			border-radius: 50%;
		}

		.arrow {
			transition: rotate 0.3s ease;
		}

		.arrow_open {
			transform: rotate(180deg);
		}
	}
}

.dropdown_open {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-top: 11px;
	right: 0;
	background-color: rgba(6, 6, 6, 0.5);
	backdrop-filter: blur(20px);
	border: 1px solid var(--border-color);
	border-radius: 6px;
	width: 250px;
	box-shadow: 0 20px 40px 0 rgba(6, 6, 6, 0.3);
	font-size: 14px;

	a {
		padding: 8px 12px;
		transition: all 0.3s ease;

		&:hover {
			background-color: var(--background-secondary);
		}
	}

	hr {
		border: none;
		border-top: 1px solid var(--border-color);
		margin: 8px 0;
	}

	button {
		display: flex;
		align-items: center;
		gap: 4px;
		background-color: transparent;
		text-align: left;
		height: fit-content;
		font-size: 14px;
		padding: 8px 12px;
		margin-bottom: 8px;
		font-weight: 400;
		color: var(--color-primary);
		transition: all 0.2s ease;
		border-radius: 0;

		&:hover {
			background-color: var(--background-secondary);
		}

		img {
			transform: rotate(180deg);
		}
	}
}

@media screen and (max-width: 768px) {
	.dropdown {
		display: none;
	}
}
