.codeblock_toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--background-secondary);
	border-radius: 6px;
	border: 1px solid var(--border-color);
	font-size: 12px;
	padding: 0 16px;

	.codeblock_copy_btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;

		div {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}
}
