#alert {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 12px 16px;
	border-radius: 10px;
	color: var(--color-primary);

	p {
		text-align: left;
		margin: 0;
		line-height: 1.6;
	}

	svg {
		min-width: 24px;
	}
}

.warning {
	background-color: var(--warning-background);
	border: 1px solid var(--warning-border);
}

.attention {
	background-color: var(--attention-background);
	border: 1px solid var(--attention-border);
}

.success {
	background-color: var(--success-background);
	border: 1px solid var(--success-border);
}
