input {
	border: 1px solid #1a1a1a;
	border-radius: 3px;
	background: #000;
	outline: none;
	height: 40px;
	padding: 0 12px;
	font-size: 100%;

	&:focus-visible {
		border: 1px solid #444;
	}

	&::placeholder {
		color: #888;
	}
}

button {
	border: 0;
	border-radius: 6px;
	height: 40px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 100%;
	font-weight: 500;
}

select {
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	background: #000;
	outline: none;
	height: 40px;
	padding: 0 12px;
	font-size: 100%;
}

li {
	list-style: none;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
