input {
	border: 1px solid rgb(255 255 255 / 60%);
	border-radius: 3px;
	background: #000;
	outline: none;
	height: 40px;
	padding: 0 12px;
	font-size: 100%;

	&:focus-visible {
		border: 1px solid #ededed;
	}
}

button {
	background: #fff;
	border: 1px solid #fff;
	color: #000;
	border-radius: 6px;
	height: 40px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 100%;
	font-weight: 500;
}

select {
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	background: #000;
	outline: none;
	height: 40px;
	padding: 0 12px;
	font-size: 100%;
}

li {
	list-style: none;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
