input {
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background: var(--background--primary);
	outline: none;
	height: 40px;
	padding: 0 12px;
	font-size: 14px;
	color: var(--color-primary);

	&:focus-visible {
		border-color: var(--border-color-hover);
	}

	&::placeholder {
		color: var(--color-secondary);
	}
}

button {
	border: 0;
	border-radius: 6px;
	height: 40px;
	cursor: pointer;
	font-size: 100%;
	font-weight: 500;
}

select {
	color: var(--color-primary);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background: var(--background);
	outline: none;
	height: 40px;
	padding: 0 12px;
	font-size: 100%;
}

textarea {
	border: none;
	background: transparent;
	outline: none;
	font-size: 100%;
	color: var(--color-primary);
	width: 100%;
	height: 100%;
	resize: none;

	&::placeholder {
		color: var(--color-secondary);
	}
}

li {
	list-style: none;
}

a,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:disabled {
	cursor: not-allowed;
}
