@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	font-family: 'Inter';
	scroll-behavior: smooth;
}

body {
	background-color: #0f172a;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
option,
textarea {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
