.page_container {
	min-height: 100vh;

	.main {
		width: 100%;
		margin: 0 auto;
		padding: 0 24px;
		max-width: 1024px;
		min-height: calc(100vh - var(--header-height));
	}
}

.page_content {
	max-width: 840px;
	width: 100%;
	padding: 20px;

	h1 {
		font-size: 40px;
		margin-bottom: 30px;
	}
}
