@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	font-family: var(--font-family);
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	color: var(--color);
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button,
select,
option,
textarea {
	font-family: var(--font-family);
}

input[type='checkbox'] {
	margin: 0;
	cursor: pointer;
}
