:root {
	--page-width: 1024px;
	--background: #060606;
	--header-height: 64px;
	--color-primary: #f5f5f7;
	--color-secondary: #86868b;
	--background-primary: #0a0a0a;
	--background-secondary: #0c0c0c;
	--background-disabled: rgba(255, 255, 255, 0.3);
	--border-color: #232323;
	--border-color-hover: #343434;
	--border-color-active: #454545;
	--border-radius-small: 6px;
	--border-radius-medium: 10px;
	--attention: #fdba74;
	--attention-background: rgba(251, 146, 60, 0.2);
	--attention-border: rgba(251, 146, 60, 0.3);
	--primary-link: #3291ff;
	--primary-link-background: rgba(50, 145, 255, 0.1);
	--secondary-link: #3f51b5;

	--github-color: #24292e;
	--gitlab-color: #6b4fbb;
	--font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
}
