:root {
	--page-width: 1024px;
	--background: #060606;

	--header-height: 64px;

	--color-primary: #fefefe;
	--color-secondary: #86868b;

	--background-primary: #0a0a0a;
	--background-secondary: #0c0c0c;
	--background-disabled: rgba(255, 255, 255, 0.3);

	--border-color-lighter: #121212;
	--border-color: #232323;
	--border-color-hover: #343434;
	--border-color-active: #454545;

	--accent: #0082f5;
	--accent-dark: #0072f5;
	--accent-background: rgba(0, 114, 245, 0.1);
	--border-radius-small: 6px;
	--border-radius-medium: 10px;

	--warning: #f85149;
	--warning-background: rgba(248, 81, 73, 0.6);
	--warning-border: rgba(248, 81, 73, 0.65);

	--attention: #fdba74;
	--attention-background: rgba(251, 146, 60, 0.6);
	--attention-border: rgba(251, 146, 60, 0.65);

	--success: #3fb950;
	--success-background: rgba(63, 185, 80, 0.6);
	--success-border: rgba(63, 185, 80, 0.65);

	--github-color: #24292e;
	--gitlab-color: #6b4fbb;
	--font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
}
