:root {
	--color-primary: #1e293b;
	--color-primary-dark: #f2f3f5;
	--color-secondary: #64748b;
	--color-secondary-dark: #b5bac1;

	--background: #ffffff;
	--background-dark: #313338;

	--surface-100: #f2f3f5;
	--surface-100-dark: #2b2d31;
	--surface-200: #ebedef;
	--surface-200-dark: #232428;
	--surface-300: #e3e5e8;
	--surface-300-dark: #1e1f22;
	--surface-400: #ffffff;
	--surface-400-dark: #111214;

	--border: #ccced3;
	--border-dark: #35363c;
}
