:root {
	--color-primary: #1e293b;
	--color-primary-dark: #f2f3f5;
	--color-secondary: #64748b;
	--color-secondary-dark: #b5bac1;

	--background: #ffffff;
	--background-dark: #313338;

	--surface-0: #4e5058;
	--surface-0-dark: #6d6f78;
	--surface-25: #6d6f78;
	--surface-25-dark: #4e5058;
	--surface-50: #d7d9dc;
	--surface-50-dark: #404249;
	--surface-75: #dfe1e5;
	--surface-75-dark: #35373c;
	--surface-100: #f2f3f5;
	--surface-100-dark: #2b2d31;
	--surface-200: #ebedef;
	--surface-200-dark: #232428;
	--surface-300: #e3e5e8;
	--surface-300-dark: #1e1f22;
	--surface-400: #ffffff;
	--surface-400-dark: #111214;

	--border: #e1e2e4;
	--border-dark: #3f4147;

	--accent: #4f46e5;
}
