.links {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		display: flex;
		align-items: center;
		color: var(--link-color);
		border-radius: 5px;
		transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
		user-select: none;

		&:hover {
			background-color: var(--primary-link-background);
		}

		img {
			user-select: none;
		}
	}

	.left {
		padding: 5px 8px 5px 0;
	}

	.right {
		padding: 5px 0 5px 8px;
		display: flex;
		justify-content: flex-end;
	}
}
